<?xml version="1.0" encoding="UTF-8" ?>
<config>
  <!--
  smallstep, mediumstep, and bigstep determine how many milliseconds to wait after a key press.
  Increase these values if the input is having issues.
  -->
  <smallstep>35</smallstep>
  <mediumstep>150</mediumstep>
  <bigstep>500</bigstep>

  <!-- If true, any input that is sent to the Overwatch window during generation is ignored. -->
  <stopinput>true</stopinput>
</config>